/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Outfit", sans-serif;
    background: linear-gradient(#201616 0%, #CD934D 100%);
  }
 
section {
    padding: 50px 10%;
}
  .main-container {
    width: 1200px;
    margin: 0 auto;
  }

  /* --- Logo and Navigation Menu --- */
 .navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: relative;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 7rem;
    float: left;
 
  }

  .basic-button  {
    border-radius: 89px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    padding: 9px 19px 9px 19px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background-color: transparent;
    color:white;
  }
  .basic-button:hover {
    color: #FFCE8B;
  }

   /* Logo */
 .logo img {
    width: 90%;
    height: 70px;
    display: flex;
 }

   /* Navigation Menu */
 nav ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #FFCE8B;
  }

  #menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
.headline {
       text-transform: uppercase;
       margin-top: 100px;
       color: white;
       padding-left: 30px;
       margin-bottom: 10px;
}

.headline2 {
    padding-left: 30px;
    margin-bottom: 15px;
}
.headline2 p{
    margin-bottom: 15px;
    color: grey;
}
.btn2{
    background: #cd934d;
    border-radius: 4px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    padding: 9px 19px 9px 19px;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    color:white;
}
.head2 {
    display: flex;
    color: white;
    flex-wrap: wrap;
    gap:10rem;
    padding-left: 30px;
}
.apk img {
    width: 100%;
    height: auto;
    display: flex;
    align-self: flex-end;
    margin-bottom: 100px;
}

.promo {
  background: #a3753f;
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(3.979deg) scale(1, 1);
}
.promo p {
    color: #ffffff;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 47px;
    line-height: 127.5%;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}






.footer-container {
    display: flex;
    background-color: #3C2A1F;
    justify-content: space-around;
    color: #ffffff;
    height: 200px;
    flex-wrap: wrap;
    gap:5rem;
   
}

.social a {
    font-size: 27px;
    margin: 0.5rem;
    align-items: center;
  }
  .social a .bx {
    padding: 5px;
    color: #fff;
    background: #ffff;
    border-radius: 50%;
    align-items: center;
  }
  .social a .bx:hover {
    background: #CD934D ;
  }
  .links {
    margin: 1rem 0 1rem;
    align-items: center;
  }
  .links a {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
  }
  .links a:hover {
    color:#da8080;
  }
  
   /* Responsive Breakpoint */
  
    /* Ukuran Tablet */
  
    @media screen and (max-width: 768px) {
      nav ul {
        width: 50%;
      }
   }
  
    /* Ukuran Mobile */
    @media screen and (max-width: 576px) {
      nav ul {
       display: none;
      }
   }