/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins" sans-serif;
}

:root {
  --bg-color : #ffff;
  --main-color : #CD934D;
  --text-color : #ffff;
}

body {
  font-family: "poppins", sans-serif;
  width: 1490px;
  margin: 0 auto;
  background: linear-gradient(#201616 0%, #CD934D 100%);
}

.wave {
  //min-height: 100vh;
  width: 100%;
  //display: flex;
  position: relative;
} 

svg {
  position: absolute;
  b0ttom: 0;
  left: 0;
}

section {
  padding: 50px 20%;
}

.logo img {
  width: 120px;
  height: auto;
  display: flex;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.vector * {
  box-sizing: border-box;
}

nav {
  display: flex;    
  justify-content: space-around;
 /* padding: 40px 0;*/
  color: #ffffff;
  height: 70px;
  align-items: center;
  gap: 20rem;

}
nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
  font-size: medium;
}

nav ul li a{
  color: white;
  margin-right: 30px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #FFCE8B;
}

.vector-container {
  position: relative; /* Memastikan gambar vector terkait dengan navbar */
}

.vector-container {
  position: absolute;
  top: -100px; /* Menurunkan vektor lebih tinggi daripada navbar */
  right: 0;
}

.vector1 {
  height: auto;
  width: 1020px;
}

.vector-container2 {
  position: absolute;
  bottom: -90px; /* Menurunkan gambar vektor */
  left: -120px;
  z-index: 1;
  transform: rotate(176deg); /* Memutar gambar vektor */
}

.vector2 {
  height: auto;
  width: 770px;
}

.basic-button {
  border-radius: 89px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 9px 19px 9px 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: transparent;
  color:white;
}

.basic-button:hover {
  color: #FFCE8B;
}

.home {
  padding-left: 50px;
  display: grid;
  //gap: 20px;
  grid-template-columns: repeat(2, 2fr);
  padding-right: 10px;
  position:relative;
}

.apk img {
  width: 100%;
  height: auto;
  position:relative;
  z-index: 1;
  //grid-row: 2;
  //padding-right: 100px;
}

.headline {
  top: 10px;
  bottom: 10px;
}

.headline h1 {
  text-transform: uppercase;
  margin-top: 100px;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

.headline p {
  color: #FFFFFF;
  margin-bottom: 30px;
 
}

.btn2 {
  background: #cd934d;
  border-radius: 4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 9px 19px 9px 19px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  color:white;
  margin-bottom: 60px;
}

.btn2:hover {
  color: #FFCE8B;
}

.head2 {
  display: flex;
  color: white;
  flex-wrap: wrap;
  gap:10rem;
  padding-left: 4px;
}

.head2 h3 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.head2 a {
  font-size: 14px;
}

.about-us{
  padding-left: 50px;
  display: grid;
  //gap: 20px;
  grid-template-columns: repeat(2, 2fr);
  padding-right: 10px;
  position:relative;
  background:white;
}

.about-container img {
  width: 500px;
  height: auto;
  position:relative;
 
  
}

.text-about {
    align-self: center; /* Menyusun teks-about secara vertikal di tengah */
    padding: 20px; /* Tambahkan padding sesuai kebutuhan */
    position: relative; /* Mengatur posisi relatif */
    z-index: 1; /* Pastikan teks-about berada di atas gambar */
}
.text-about p {
  color: #151515;
  margin-bottom: 20px;

}

.read {
  border-radius: 89px;
  border-style: solid;
  border-color:  #D8904B;
  border-width: 1px;
  padding: 9px 19px 9px 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: #D8904B;
  color:white;
}

.read:hover {
  color: white;
}

.phone {
  position: absolute;
  color: gray;
}

.blog-container {
  background:white;
  display: flex;
}

.blog-container h2 {
  color: #151515;
}
